@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box; 
  font-family: Roboto;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  display: flex;
  min-height: 100vh; /*grootte ter waarde van 1% van de viewport. hier dus 100%*/
background: rgb(14,51,65);
background: radial-gradient(circle, rgba(14,51,65,1) 0%, rgba(12,19,23,1) 100%);
}

main {
  display: flex;
  flex: 1;
}
main > article {
  flex: 1;
  order: 1;/*volgorde van de items*/
}

nav>a{
	font-size:14pt; 
	color:white;
}

#flexContainer{
  display: flex;
  flex-direction: column;
  padding: 0;
}

header, footer, article, nav, aside {
  	padding: 1em;
}

header{
	background-color: black;
	height: 5em;
	width: 100%;
	display: flex;
	flex-direction: row;
}

#logo{
	width: 100px;
}

#lineChart {
	height: 200px;
	width: auto;
	position: relative;
}

.charts{
	margin-top: 1em;
}

#pie{
	height: 300px;
	width: 300px;
}

#bar{
	height: 400px;
	width: 350px
}


@media only screen and (min-width: 568px) {
	main{
		justify-content: center;
	}

	#flexContainer{
		justify-content: center;
		align-items: center;
	}

	#bar{
		width: 500px;
	}

	#lineChart {
		height: 550px;
		width: 550px;
		/*werkt alleen bij een refresh*/
	}

}

@media only screen and (min-width: 1024px) {
	main{
		justify-content: center;
	}

	#pie{
		width: 400px;
		margin-bottom: 150px;
	}

	.pieWrapper{
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
	}
	#flexContainer{
		justify-content: center;
		align-items: center;

	}
	#logo{
		width: 150px;
	}
	#bar{
		width: 750px;
	}
	#lineChart {
		height: 800px;
		width: 800px;	
		/*werkt alleen bij een refresh*/
	}
}
	
@media only screen and (min-width: 1200px) {
	
	#bar{
		width: 900px;
	}
	#lineChart {
		height: 900px;
		width: 1000px;	
		/*werkt alleen bij een refresh*/
	}    
}