* {
  box-sizing: border-box; 
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  display: flex;
  min-height: 100vh; /*grootte ter waarde van 1% van de viewport. hier dus 100%*/
}
main {
  display: flex;
  flex: 1;
}
main > article {
  flex: 1;
  order: 1;/*volgorde van de items*/
}
main > nav, 
main > aside {
  flex: 0 0 20vw;
}
main > nav {
  background: #D7E8D4;
  order: 3;
}
main > aside {
  background: beige;
  order: 2;
}

#flexContainer{
  display: flex;
  flex-direction: column;
  padding: 0;
}

header, footer, article, nav, aside {
  	padding: 1em;
}

header{
	background-color: grey;
	height: 5em;
	width: 100%;
}

#line {
	height: 500px;
	width: auto;
	position: relative;
}

.charts{
	margin-top: 1em;
}

#pie{
	height: 300px;
	width: 300px;
}

#bar{
	height: 400px;
	width: 350px
}

article#line.charts {
	width: 700px;
}

@media only screen and (min-width: 568px) {
	main{
		justify-content: center;
	}

	#flexContainer{
		justify-content: center;
		align-items: center;
	}

	#bar{
		width: 600px;
	}



}

@media only screen and (min-width: 1024px) {
	main{
		justify-content: center;
	}

	#pie{
		width: 400px;
		margin-bottom: 150px;
	}

	.pieWrapper{
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
	}


	#flexContainer{
		justify-content: center;
		align-items: center;

	}

	#bar{
		width: 760px;
	}

}
	
@media only screen and (min-width: 1200px) {
	    
}