* {
  box-sizing: border-box; 
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  display: flex;
  min-height: 100vh; /*grootte ter waarde van 1% van de viewport. hier dus 100%*/
}
main {
  display: flex;
  flex: 1;
}
main > article {
  flex: 1;
  order: 1;/*volgorde van de items*/
}
main > nav, 
main > aside {
  flex: 0 0 20vw;
}
main > nav {
  background: #D7E8D4;
  order: 3;
}
main > aside {
  background: beige;
  order: 2;
}

#flex-container{
  display: flex;
  flex-direction: column;
  padding: 0;
}

header, footer {
  height: 5vh;
  margin:0;
}
header, footer, article, nav, aside {
  padding: 1em;
}

header{
	padding-top: 0;
}

/*#bar{
	width: 45%;
	height: 50%;
}

.pie{
	width: 30%;
	height: 30%;
}
*/